In [2]:
from sqlalchemy import create_engine, text
import pandas as pd 

engine = create_engine("mysql+pymysql://root:Banty&2003@localhost:3306/inventory")

with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    tables = [row[0] for row in result]   # take first element of each row
    print(tables)

['begin_inventory', 'end_inventory', 'purchase_prices', 'purchases', 'sales', 'vendor_invoice']

In [3]:
for table in tables:
    print('-'*50, f'{table}', '-'*50)
    count = pd.read_sql(text(f"SELECT COUNT(*) as count FROM {table}"), engine)['count'].values[0]
    print("counts record --", count)
    display(pd.read_sql(f"SELECT * FROM {table} LIMIT 5",engine))

-------------------------------------------------- begin_inventory --------------------------------------------------
counts record -- 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
counts record -- 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchase_prices --------------------------------------------------
counts record -- 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- purchases --------------------------------------------------
counts record -- 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- sales --------------------------------------------------
counts record -- 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
counts record -- 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [5]:
purchases=pd.read_sql("select * from purchases where VendorNumber=4466 ",engine)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [7]:
purchases_prices=pd.read_sql("select * from  purchase_prices where VendorNumber=4466 ",engine)
purchases_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [8]:
vendor_invoice=pd.read_sql("select * from  vendor_invoice where VendorNumber=4466 ",engine)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [9]:
sales=pd.read_sql("select * from  sales where VendorNo=4466 ",engine)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [10]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [14]:
purchases_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [15]:
vendor_invoice['PONumber'].nunique()

55

In [16]:
vendor_invoice.shape

(55, 10)

In [17]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [18]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140       50531.10    30071.85           3890
5215       60416.49    41542.02           4651
5255       79187.04    51180.60           6096

Exploratory Data Analysis

The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.

The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.

The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.

The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:

 1. Purchase transactions made by vendors
 2. sales transaction data
 3. Freight costs for each vendor
 4. actual product prices from vendors

In [27]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [29]:
freight_summary=pd.read_sql("""SELECT VendorNumber,SUM(Freight) AS freight_cost 
   FROM vendor_invoice
   GROUP BY VendorNumber""", 
     engine)

In [31]:
freight_summary

     VendorNumber  freight_cost
0             105         62.39
1            4466        793.91
2             388        211.74
3             480      89286.27
4             516       8510.41
..            ...           ...
121        201359          0.09
122          4901          0.72
123         90059         74.84
124          5083         10.68
125            54          0.48

[126 rows x 2 columns]

In [33]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [35]:
purchases_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [37]:
pd.read_sql(""" 
SELECT
    P.Brand,
    P.VendorName,
    P.VendorNumber,
    
    AVG(P.PurchasePrice) AS AvgPurchasePrice,
    MIN(P.PurchasePrice) AS MinPurchasePrice,
    MAX(P.PurchasePrice) AS MaxPurchasePrice,
    
    AVG(PP.Volume) AS AvgVolume,
    MIN(PP.Volume) AS MinVolume,
    MAX(PP.Volume) AS MaxVolume,
    
    AVG(PP.Price) AS AvgActualPrice,
    MIN(PP.Price) AS MinActualPrice,
    MAX(PP.Price) AS MaxActualPrice,
    
    SUM(P.Quantity) AS TotalPurchaseQuantity,
    SUM(P.Dollars) AS TotalPurchaseDollars

FROM purchases P
JOIN purchase_prices PP
    ON P.Brand = PP.Brand
WHERE P.PurchasePrice > 0
GROUP BY P.VendorName, P.VendorNumber, P.Brand
ORDER BY TotalPurchaseDollars DESC


""", engine)

,Brand,VendorName,VendorNumber,AvgPurchasePrice,MinPurchasePrice,MaxPurchasePrice,AvgVolume,MinVolume,MaxVolume,AvgActualPrice,MinActualPrice,MaxActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,1233,BROWN-FORMAN CORP,1128,26.27,26.27,26.27,1750.0,1750,1750,36.99,36.99,36.99,145080.0,3811251.60
1,3405,MARTIGNETTI COMPANIES,4425,23.19,23.19,23.19,1750.0,1750,1750,28.99,28.99,28.99,164038.0,3804041.22
2,8068,PERNOD RICARD USA,17035,18.24,18.24,18.24,1750.0,1750,1750,24.99,24.99,24.99,187407.0,3418303.68
3,4261,DIAGEO NORTH AMERICA INC,3960,16.17,16.17,16.17,1750.0,1750,1750,22.99,22.99,22.99,201682.0,3261197.94
4,3545,DIAGEO NORTH AMERICA INC,3960,21.89,21.89,21.89,1750.0,1750,1750,29.99,29.99,29.99,138109.0,3023206.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,8527,WINE GROUP INC,9815,1.32,1.32,1.32,750.0,750,750,4.99,4.99,4.99,2.0,2.64
10688,5683,SAZERAC CO INC,8004,0.39,0.39,0.39,50.0,50,50,0.49,0.49,0.49,6.0,2.34
10689,9123,HEAVEN HILL DISTILLERIES,3924,0.74,0.74,0.74,50.0,50,50,0.99,0.99,0.99,2.0,1.48
10690,6127,DIAGEO NORTH AMERICA INC,3960,1.47,1.47,1.47,200.0,200,200,1.99,1.99,1.99,1.0,1.47
10691,3065,PROXIMO SPIRITS INC.,7245,0.71,0.71,0.71,50.0,50,50,0.99,0.99,0.99,1.0,0.71

In [38]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [39]:
pd.read_sql("""SELECT
     Brand,
     VendorNo,
     SUM(SalesQuantity) AS TotalSalesQuantity,
     SUM(SalesDollars) AS  TotalSalesDollars,
     SUM(SalesPrice) AS    TotalSalesPrice,
     SUM(ExciseTax) AS     TotalExciseTax
      
  FROM sales
  GROUP BY VendorNo, Brand
  ORDER BY  TotalSalesDollars

""",engine)

,Brand,VendorNo,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax
0,5287,8004,2.0,9.800000e-01,0.98,0.10
1,2773,9206,1.0,9.900000e-01,0.99,0.05
2,9123,3924,2.0,1.980000e+00,0.99,0.10
3,3933,3252,2.0,1.980000e+00,0.99,0.10
4,3623,10050,2.0,1.980000e+00,1.98,0.10
...,...,...,...,...,...,...
11267,3545,3960,135838.0,4.223108e+06,545778.28,249587.83
11268,4261,3960,200412.0,4.475973e+06,420050.01,368242.80
11269,8068,17035,187140.0,4.538121e+06,461140.15,343854.07
11270,3405,4425,160247.0,4.819073e+06,561512.37,294438.66
11271,1233,1128,142049.0,5.101920e+06,672819.31,260999.20

In [67]:

import pandas as pd
import time

start = time.time()

# Optimized SQL query with Description included
query = """
WITH sales_agg AS (
    SELECT VendorNo, Brand, Description,
           SUM(SalesQuantity) AS TotalSalesQuantity,
           SUM(SalesDollars)  AS TotalSalesDollars,
           SUM(SalesPrice)    AS TotalSalesPrice,
           SUM(ExciseTax)     AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand, Description
),
vi_agg AS (
    SELECT VendorNumber,
           SUM(Quantity) AS TotalPurchaseQuantity,
           SUM(Dollars)  AS TotalPurchaseDollars,
           SUM(Freight)  AS TotalFreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
purchase_agg AS (
    SELECT
        P.Brand,
        P.Description,
        P.VendorName,
        P.VendorNumber,
        
        AVG(P.PurchasePrice) AS AvgPurchasePrice,
        MIN(P.PurchasePrice) AS MinPurchasePrice,
        MAX(P.PurchasePrice) AS MaxPurchasePrice,
        
        AVG(PP.Volume) AS AvgVolume,
        MIN(PP.Volume) AS MinVolume,
        MAX(PP.Volume) AS MaxVolume,
        
        AVG(PP.Price) AS AvgActualPrice,
        MIN(PP.Price) AS MinActualPrice,
        MAX(PP.Price) AS MaxActualPrice,
        
        SUM(P.Quantity) AS TotalPurchaseQuantity,
        SUM(P.Dollars)  AS TotalPurchaseDollars
    FROM purchases P
    JOIN purchase_prices PP
        ON P.Brand = PP.Brand
       AND P.Description = PP.Description
    WHERE P.PurchasePrice > 0
    GROUP BY P.VendorName, P.VendorNumber, P.Brand, P.Description
)
SELECT
    pa.VendorNumber,
    pa.VendorName,
    pa.Brand,
    pa.Description,
    
    pa.AvgPurchasePrice,
    pa.MinPurchasePrice,
    pa.MaxPurchasePrice,
    
    pa.AvgVolume,
    pa.MinVolume,
    pa.MaxVolume,
    
    pa.AvgActualPrice,
    pa.MinActualPrice,
    pa.MaxActualPrice,
    
    pa.TotalPurchaseQuantity,
    pa.TotalPurchaseDollars,
    
    s.TotalSalesQuantity,
    s.TotalSalesDollars,
    s.TotalSalesPrice,
    s.TotalExciseTax,
    
    vi.TotalFreightCost
FROM purchase_agg pa
LEFT JOIN sales_agg s
    ON pa.VendorNumber = s.VendorNo
   AND pa.Brand = s.Brand
   AND pa.Description = s.Description
LEFT JOIN vi_agg vi
    ON pa.VendorNumber = vi.VendorNumber
ORDER BY pa.TotalPurchaseDollars DESC;
"""

# Run query and load result into Pandas
summary_table = pd.read_sql(query, engine)

# Save results for reuse
summary_table.to_parquet("summary_table.parquet", index=False)   # Fast & compact
summary_table.to_csv("summary_table.csv", index=False)           # Optional CSV

# Performance info
print("Final DataFrame shape:", summary_table.shape)
print("Execution time:", round(time.time() - start, 2), "seconds")

Final DataFrame shape: (10692, 20)
Execution time: 295.34 seconds

In [69]:
summary_table

,VendorNumber,VendorName,Brand,Description,AvgPurchasePrice,MinPurchasePrice,MaxPurchasePrice,AvgVolume,MinVolume,MaxVolume,AvgActualPrice,MinActualPrice,MaxActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalFreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,26.27,26.27,1750.0,1750,1750,36.99,36.99,36.99,145080.0,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,23.19,23.19,1750.0,1750,1750,28.99,28.99,28.99,164038.0,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,18.24,18.24,1750.0,1750,1750,24.99,24.99,24.99,187407.0,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,16.17,16.17,1750.0,1750,1750,22.99,22.99,22.99,201682.0,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,21.89,21.89,1750.0,1750,1750,29.99,29.99,29.99,138109.0,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,1.32,1.32,750.0,750,750,4.99,4.99,4.99,2.0,2.64,5.0,1.595000e+01,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.39,0.39,50.0,50,50,0.49,0.49,0.49,6.0,2.34,134.0,6.566000e+01,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.74,0.74,50.0,50,50,0.99,0.99,0.99,2.0,1.48,2.0,1.980000e+00,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.47,1.47,200.0,200,200,1.99,1.99,1.99,1.0,1.47,72.0,1.432800e+02,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.71,0.71,50.0,50,50,0.99,0.99,0.99,1.0,0.71,86.0,8.514000e+01,33.66,4.46,38994.78

This query generates a vendor-wise sales and purchase summary, which is valuable for:

Performance Optimization:

- The query involves heavy joins and aggregations on large datasets like sales and purchases.
- Storing the pre-aggregated results avoids repeated expensive computations.
- Helps in analyzing sales, purchases, and pricing for different vendors and brands.
- Future Benefits of Storing this data for faster Dashboarding & Reporting.
- Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [58]:
summary_table.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
AvgPurchasePrice         float64
MinPurchasePrice         float64
MaxPurchasePrice         float64
AvgVolume                float64
MinVolume                 object
MaxVolume                 object
AvgActualPrice           float64
MinActualPrice           float64
MaxActualPrice           float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
TotalFreightCost         float64
dtype: object

In [60]:
summary_table.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
AvgPurchasePrice           0
MinPurchasePrice           0
MaxPurchasePrice           0
AvgVolume                  0
MinVolume                  0
MaxVolume                  0
AvgActualPrice             0
MinActualPrice             0
MaxActualPrice             0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
TotalFreightCost           0
dtype: int64

In [85]:
summary_table['VendorName'].unique()

array(['BROWN-FORMAN CORP', 'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA',
       'DIAGEO NORTH AMERICA INC', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'MAJESTIC FINE WINES',
       'ULTRA BEVERAGE COMPANY LLP', 'STOLI GROUP,(USA) LLC',
       'PROXIMO SPIRITS INC.', 'MOET HENNESSY USA INC', 'CAMPARI AMERICA',
       'SAZERAC CO INC', 'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'SAZERAC NORTH AMERICA INC.', 'PALM BAY INTERNATIONAL INC',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'E & J GALLO WINERY', 'WILLIAM GRANT & SONS INC',
       'HEAVEN HILL DISTILLERIES', 'DISARONNO INTERNATIONAL LLC',
       'EDRINGTON AMERICAS', 'CASTLE BRANDS CORP.',
       'SOUTHERN WINE & SPIRITS NE', 'STE MICHELLE WINE ESTATES',
       'TRINCHERO FAMILY ESTATES', 'MHW LTD', 'WINE GROUP INC',
       'PERFECTA WINES', 'LUXCO INC', 'TREASURY WINE ESTATES',
       'DIAGEO CHATEAU ESTATE WINES', 'SHAW ROSS INT L IMP LTD',
       'PINE STATE TRADING CO', 'PHILLIPS PRODUCTS CO.',
       'CALEDONIA SPIRITS INC', 'STATE WINE & SPIRITS',
       'KOBRAND CORPORATION', 'BANFI PRODUCTS CORP',
       'VINEYARD BRANDS INC', 'DELICATO VINEYARDS INC',
       'FABRIZIA SPIRITS LLC', 'DUGGANS DISTILLED PRODUCTS',
       'Serralles Usa LLC', 'SEA HAGG DISTILLERY LLC',
       'OLE SMOKY DISTILLERY LLC', 'VRANKEN AMERICA', 'KLIN SPIRITS LLC',
       'LAIRD & CO', 'ADAMBA IMPORTS INTL INC',
       'LATITUDE BEVERAGE COMPANY', 'FREDERICK WILDMAN & SONS',
       'MCCORMICK DISTILLING CO', 'CHARLES JACQUIN ET CIE INC',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY',
       'AMERICAN VINTAGE BEVERAGE', 'MANGO BOTTLING INC',
       'SWEET BABY VINEYARD', 'NICHE W & S', 'LABELLE VYDS AND WINERY',
       'FLAG HILL WINERY & VINEYARD', 'SMOKY QUARTZ DISTILLERY LLC',
       'PREMIUM PORT WINES, INC.', 'Russian Standard Vodka',
       'Dunn Wine Brokers', 'WEIN BAUER INC', 'BULLY BOY DISTILLERS',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'VINILANDIA USA', 'PARK STREET IMPORTS LLC', 'TAKARA SAKE USA INC',
       'SEA BREEZE CELLARS LLC', 'STARK BREWING COMPANY', 'TY KU LLC',
       'PSP WINES', 'TAMWORTH DISTILLING', 'ZORVINO VINEYARDS',
       'SOUTHERN GLAZERS W&S OF NE', 'HOOD RIVER DISTILLERS, Inc.',
       'CRUSH WINES', 'POVERTY LANE ORCHARDS', 'DJINN SPIRITS LLC',
       'MOONLIGHT MEADERY', 'TALL SHIP DISTILLERY LLC',
       'FORTUNE WINE BROKERS LLC', 'BLACK COVE BEVERAGES', 'VINEXTRA INC',
       'SURVILLE ENTERPRISES CORP', 'JEWELL TOWNE VINEYARDS',
       'SWEETWATER FARM', 'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'INCREDIBREW INC', 'ALISA CARR BEVERAGES',
       'STELLAR IMPORTING CO LLC', 'FULCHINO VINEYARD INC',
       'IRA GOLDMAN AND WILLIAMS, LLP', 'Circa Wines',
       'VINEDREA WINES LLC', 'BLACK PRINCE DISTILLERY INC',
       'VINEYARD BRANDS LLC', 'THE IMPORTED GRAPE LLC',
       'WALPOLE MTN VIEW WINERY', 'GILMANTON WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS', 'STAR INDUSTRIES INC.',
       'LOYAL DOG WINERY', 'R.P.IMPORTS INC', 'THE PIERPONT GROUP LLC',
       'APPOLO VINEYARDS LLC', 'BLACK ROCK SPIRITS LLC',
       'CENTEUR IMPORTS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE', 'UNCORKED', 'BRONCO WINE COMPANY',
       'MILTONS DISTRIBUTING CO', 'TRUETT HURST', 'LAUREATE IMPORTS CO',
       'FANTASY FINE WINES CORP', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS', 'CAPSTONE INTERNATIONAL',
       'FLAVOR ESSENCE INC'], dtype=object)

In [71]:
summary_table['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      dtype=object)

In [75]:
summary_table['MaxVolume']=summary_table['MaxVolume'].astype('float64')

In [77]:
summary_table.fillna(0,inplace=True)

In [83]:
summary_table['VendorName']=summary_table['VendorName'].str.strip()

In [87]:
summary_table['GrossProfit']=summary_table['TotalSalesDollars']-summary_table['TotalPurchaseDollars']

In [89]:
summary_table

,VendorNumber,VendorName,Brand,Description,AvgPurchasePrice,MinPurchasePrice,MaxPurchasePrice,AvgVolume,MinVolume,MaxVolume,...,MinActualPrice,MaxActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalFreightCost,GrossProfit
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,26.27,26.27,1750.0,1750,1750.0,...,36.99,36.99,145080.0,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,23.19,23.19,1750.0,1750,1750.0,...,28.99,28.99,164038.0,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,18.24,18.24,1750.0,1750,1750.0,...,24.99,24.99,187407.0,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,16.17,16.17,1750.0,1750,1750.0,...,22.99,22.99,201682.0,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,21.89,21.89,1750.0,1750,1750.0,...,29.99,29.99,138109.0,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,1.32,1.32,750.0,750,750.0,...,4.99,4.99,2.0,2.64,5.0,1.595000e+01,10.96,0.55,27100.41,13.31
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.39,0.39,50.0,50,50.0,...,0.49,0.49,6.0,2.34,134.0,6.566000e+01,1.47,7.04,50293.62,63.32
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.74,0.74,50.0,50,50.0,...,0.99,0.99,2.0,1.48,2.0,1.980000e+00,0.99,0.10,14069.87,0.50
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.47,1.47,200.0,200,200.0,...,1.99,1.99,1.0,1.47,72.0,1.432800e+02,77.61,15.12,257032.07,141.81
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.71,0.71,50.0,50,50.0,...,0.99,0.99,1.0,0.71,86.0,8.514000e+01,33.66,4.46,38994.78,84.43

In [91]:
summary_table['GrossProfit'].min()

-52002.78000000001

In [105]:
summary_table['ProfitMargine']=(summary_table['GrossProfit']/summary_table['TotalSalesDollars'])*100

In [107]:
summary_table

,VendorNumber,VendorName,Brand,Description,AvgPurchasePrice,MinPurchasePrice,MaxPurchasePrice,AvgVolume,MinVolume,MaxVolume,...,MaxActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalFreightCost,GrossProfit,ProfitMargine
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,26.27,26.27,1750.0,1750,1750.0,...,36.99,145080.0,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,23.19,23.19,1750.0,1750,1750.0,...,28.99,164038.0,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,18.24,18.24,1750.0,1750,1750.0,...,24.99,187407.0,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,16.17,16.17,1750.0,1750,1750.0,...,22.99,201682.0,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,21.89,21.89,1750.0,1750,1750.0,...,29.99,138109.0,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,1.32,1.32,750.0,750,750.0,...,4.99,2.0,2.64,5.0,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.39,0.39,50.0,50,50.0,...,0.49,6.0,2.34,134.0,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.74,0.74,50.0,50,50.0,...,0.99,2.0,1.48,2.0,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.47,1.47,200.0,200,200.0,...,1.99,1.0,1.47,72.0,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.71,0.71,50.0,50,50.0,...,0.99,1.0,0.71,86.0,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079

In [109]:
summary_table['StockTurnOver']=summary_table['TotalSalesQuantity']-summary_table['TotalPurchaseQuantity']
# wrong formula correct formula is used in vendore performance anlysis 
#summary_table['StockTurnOver'] = (
#    summary_table['TotalSalesQuantity'] / summary_table['TotalPurchaseQuantity']
#)

In [111]:
summary_table['SalestoPurchaseRatio']=summary_table['TotalSalesDollars']/summary_table['TotalPurchaseDollars']

In [113]:
summary_table

,VendorNumber,VendorName,Brand,Description,AvgPurchasePrice,MinPurchasePrice,MaxPurchasePrice,AvgVolume,MinVolume,MaxVolume,...,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalFreightCost,GrossProfit,ProfitMargine,StockTurnOver,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,26.27,26.27,1750.0,1750,1750.0,...,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,-3031.0,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,23.19,23.19,1750.0,1750,1750.0,...,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,-3791.0,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,18.24,18.24,1750.0,1750,1750.0,...,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,-267.0,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,16.17,16.17,1750.0,1750,1750.0,...,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,-1270.0,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,21.89,21.89,1750.0,1750,1750.0,...,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,-2271.0,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,1.32,1.32,750.0,750,750.0,...,2.64,5.0,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276,3.0,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.39,0.39,50.0,50,50.0,...,2.34,134.0,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186,128.0,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.74,0.74,50.0,50,50.0,...,1.48,2.0,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525,0.0,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.47,1.47,200.0,200,200.0,...,1.47,72.0,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037,71.0,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.71,0.71,50.0,50,50.0,...,0.71,86.0,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079,85.0,119.915493

In [117]:
summary_table.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description',
       'AvgPurchasePrice', 'MinPurchasePrice', 'MaxPurchasePrice', 'AvgVolume',
       'MinVolume', 'MaxVolume', 'AvgActualPrice', 'MinActualPrice',
       'MaxActualPrice', 'TotalPurchaseQuantity', 'TotalPurchaseDollars',
       'TotalSalesQuantity', 'TotalSalesDollars', 'TotalSalesPrice',
       'TotalExciseTax', 'TotalFreightCost', 'GrossProfit', 'ProfitMargine',
       'StockTurnOver', 'SalestoPurchaseRatio'],
      dtype='object')

In [129]:
from sqlalchemy import text

# Open a connection
with engine.connect() as conn:
    # Run a raw SQL statement
    conn.execute(text("""
        CREATE TABLE summary_table (
            VendorNumber INT,
            VendorName VARCHAR(100),
            Brand VARCHAR(100),
            Description VARCHAR(255),

            AvgPurchasePrice DECIMAL(15,2),
            MinPurchasePrice DECIMAL(15,2),
            MaxPurchasePrice DECIMAL(15,2),

            AvgVolume DECIMAL(15,2),
            MinVolume DECIMAL(15,2),
            MaxVolume DECIMAL(15,2),

            AvgActualPrice DECIMAL(15,2),
            MinActualPrice DECIMAL(15,2),
            MaxActualPrice DECIMAL(15,2),

            TotalPurchaseQuantity INT,
            TotalPurchaseDollars DECIMAL(15,2),
            TotalSalesQuantity INT,
            TotalSalesDollars DECIMAL(15,2),
            TotalSalesPrice DECIMAL(15,2),
            TotalExciseTax DECIMAL(15,2),
            TotalFreightCost DECIMAL(15,2),

            GrossProfit DECIMAL(15,2),
            ProfitMargine DECIMAL(15,2),
            StockTurnOver DECIMAL(15,2),
            SalestoPurchaseRatio DECIMAL(15,2),
 
            PRIMARY KEY (VendorNumber, Brand)
        );
    """))
    print("✅ Table created successfully")

✅ Table created successfully

In [137]:
pd.read_sql("SELECT * FROM summary_table",engine)

,VendorNumber,VendorName,Brand,Description,AvgPurchasePrice,MinPurchasePrice,MaxPurchasePrice,AvgVolume,MinVolume,MaxVolume,...,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,TotalFreightCost,GrossProfit,ProfitMargine,StockTurnOver,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,26.27,26.27,1750.0,1750,1750.0,...,3811251.60,142049.0,5.101920e+06,672819.31,260999.20,68601.68,1290667.91,25.297693,-3031.0,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,23.19,23.19,1750.0,1750,1750.0,...,3804041.22,160247.0,4.819073e+06,561512.37,294438.66,144929.24,1015032.27,21.062810,-3791.0,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,18.24,18.24,1750.0,1750,1750.0,...,3418303.68,187140.0,4.538121e+06,461140.15,343854.07,123780.22,1119816.92,24.675786,-267.0,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,16.17,16.17,1750.0,1750,1750.0,...,3261197.94,200412.0,4.475973e+06,420050.01,368242.80,257032.07,1214774.94,27.139908,-1270.0,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,21.89,21.89,1750.0,1750,1750.0,...,3023206.01,135838.0,4.223108e+06,545778.28,249587.83,257032.07,1199901.61,28.412764,-2271.0,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,1.32,1.32,750.0,750,750.0,...,2.64,5.0,1.595000e+01,10.96,0.55,27100.41,13.31,83.448276,3.0,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.39,0.39,50.0,50,50.0,...,2.34,134.0,6.566000e+01,1.47,7.04,50293.62,63.32,96.436186,128.0,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.74,0.74,50.0,50,50.0,...,1.48,2.0,1.980000e+00,0.99,0.10,14069.87,0.50,25.252525,0.0,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.47,1.47,200.0,200,200.0,...,1.47,72.0,1.432800e+02,77.61,15.12,257032.07,141.81,98.974037,71.0,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.71,0.71,50.0,50,50.0,...,0.71,86.0,8.514000e+01,33.66,4.46,38994.78,84.43,99.166079,85.0,119.915493

In [135]:
import numpy as np

# Replace inf, -inf with None (so they become NULL in MySQL)
summary_table = summary_table.replace([np.inf, -np.inf], np.nan)

# Drop rows if needed (optional, if you don’t want NULLs)
# summary_table = summary_table.dropna()

# Now save to MySQL
summary_table.to_sql(
    'summary_table', 
    con=engine, 
    if_exists='replace', 
    index=False,
    chunksize=5000,     # to speed up
    method='multi'      # batches inserts
)

10692